<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- <img src="bracarlu/bracarluTech/appbracarluTech/static/img/logo.png" alt="" srcset=""> -->
    <title>Document</title>
</head>
<body>
    <div class="o">Home Page BracarluTech</div>
    <br><br><br>
    <section class="layout">
        
        <div class="a">
            <img src="{% static 'img/logo.png' %}" alt="" srcset="">
        </div>
        <div class="b">
            <div class="b-item">Quienes somos
                <div class="submenu">
                    <!-- <a href="#historia">Nuestra historia</a>
                    <a href="#equipo">Nuestro equipo</a> -->
                </div>
            </div>

            <div class="b-item">Proyectos y servicios
                <div class="submenu">
                    <!-- <a href="#proyectos" class="b-item">Proyectos y servicios</a> -->
                    
                </div>
            </div>

            <div class="b-item">Soporte
                <div class="submenu">
                    <!-- <a href="#soporte" class="b-item">Soporte</a> -->
                </div>
            </div>
            
            <div class="b-item">Contacto
                <div class="submenu">
                    <!-- <a href="#contacto" class="b-item">Contacto</a> -->
                </div>
            </div>

            <div class="b-item">Intranet
                <div class="submenu">
                    <!-- <a href="#intranet" class="b-item">Intranet</a> -->
                </div>
            </div>

        </div>
        <div class="c">
            <div class="c-left">
                <img src="{% static 'img/imagen.jpg' %}" alt="" srcset="">
            </div>
            <div class="c-right">
                <div class="texto">
                    <p>Somos una empresa tecnológica e informática orientada a generar valor en nuestros clientes mediante la entrega de servicios y productos que superan sus expectativas y satisfacen sus necesidades específicas.</p>
                </div>
            </div>
        </div>
        
    

        
        
        
    </section>
    <br><br><br><br><br>
    <footer class="footer">
        <p>&copy; 2024 Mi Sitio Web. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
