<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="bracarlu/bracarluTech/appbracarluTech/static/css/styles.css">
    
    <link rel="stylesheet" href="bracarlu/bracarluTech/appbracarluTech/static/css/proy.css">
    
    <title>Proyectos | Servicios</title>
</head>
<body>
    <div class="menusup">
        <div class="logopng">
            <img src="bracarlu/bracarluTech/appbracarluTech/static/img/logopng.png" alt="" srcset="" style="height: 60px; width: 190px;">
        </div>

        <div class="qs-item">
            <a href="">Quienes somos</a>
            
        </div>
        <div class="qs-item">
            <a href="">Proyectos y servicios</a>
        </div>
        <div class="qs-item">
            <a href="">Contacto</a>
        </div>
        <div class="qs-item">
            <a href="">Quienes somos</a>
        </div>
        <div class="qs-item">
            <a href="">Intranet</a>
        </div>
    </div>


    <div class="fotop">
        <img src="{% static 'img/contacto.png' %}" alt="" srcset="" style="width: -webkit-fill-available;">
    </div>
    
    <section class="layout3">
       

        <div class="padre">
            <div class="proy_section">
                <div style="width: 100%; height: 55px;">
                    <h3>Proyectos y Servicios Informáticos</h3>
                </div>
                <div class="sub_proy">
                    <ul>
                        <li>Instalación y configuración de redes VPN.</li>
                        <li>Mantenimiento de servidores.</li>
                        <li>Programación web.</li>
                        <li>Soporte informático.</li>
                    </ul>
                </div>
                <div class="ico">
                    
                    <img src="bracarlu/bracarluTech/appbracarluTech/static/img/web.png" alt="" srcset="" style="width: 120px; text-align: center; height: 120px;">
                </div>
            </div>
            <div class="proy_section">
                <div style="width: 100%; height: 55px;">
                    <h3>Servicios TIC</h3>
                </div>
                 <div class="sub_proy">
                    <ul>
                        <li>Mantenimiento de computadores.</li>
                        <li>Soporte informático.</li>
                    </ul>
                 </div>
                <div class="ico">
                    <img src="{% static 'img/compu.png' %}" alt="" srcset="" style="width: 120px; text-align: center; height: 120px;">
                </div>
            </div>
            <div class="proy_section">
                <div style="width: 100%; height: 55px;">
                    <h3>Servicios de Internet</h3>
                </div>
                <div class="sub_proy">
                    <ul>
                        <li>Páginas web.</li>
                        <li>Correo electrónico.</li>
                        <li>Transferencia de archivos FTP.</li>
                        <li>Chat Bots</li>          
                    </ul>
                </div>
                <div class="ico">
                    <img src="{% static 'img/correo.png' %}" alt="" srcset="" style="width: 120px; text-align: center; height: 120px;">
                </div>
            </div>
            <div class="proy_section">
                <div style="width: 100%; height: 55px;">
                    <h3>Seguridad Informática</h3>
                </div>
                <div class="sub_proy">
                    <ul>
                        <li>Seguridad informática</li>
                    </ul>
                    <br>
                    <br>
                    <p> 
                        Ofrecemos servicios especializados para proteger tus sistemas y datos contra amenazas como virus, malware, ataques cibernéticos, 
                        y accesos no autorizados.
                    </p>
                </div>
                <div class="ico">
                    <img src="{% static 'img/candado.png' %}" alt="" srcset="" style="width: 120px; text-align: center; height: 120px;">
                </div>
            </div>
            

        </div>

       

      </section>

    <footer class="footera">
        <p>&copy; 2024 Bracarlutech. Todos los derechos reservados.</p>
        <div class="foter">
            <div class="subfoter">
             <p>proyectos@bracarlutech.com</p>
             <p>Cotiza Valores</p>
             <p>Pagos vía Transferencias tarjetas débito y crédito.</p>
            </div>
        </div>
    </footer>
</body>
</html>
