<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/qs.css' %}">
    <!-- <img src="bracarlu/bracarluTech/appbracarluTech/static/img/logo.png" alt="" srcset=""> -->
    <title>Document</title>
</head>
<body>
    <div class="menusup">
        <div class="logopng">
            <img src="{% static 'img/logpng.png' %}" alt="" srcset="" style="height: 60px; width: 190px;">
        </div>

        <div class="qs-item">
            <a href="">Quienes somos</a>
            
        </div>
        <div class="qs-item">
            <a href="">Proyectos y servicios</a>
        </div>
        <div class="qs-item">
            <a href="">Contacto</a>
        </div>
        <div class="qs-item">
            <a href="">Quienes somos</a>
        </div>
        <div class="qs-item">
            <a href="">Intranet</a>
        </div>
    </div>

    <br><br>
    
    <section class="layout2">
        <div class="foto">
            <img src="{% static 'img/ne.png' %}" alt="" srcset="">
        </div>
        <div class="e">
            <h1>Nuestra Empresa</h1>
            <p> Empresa tecnológica e informática experimentada, que cuenta con 
                Nuestra Empresa profesionales calificados en entregar soluciones creativas, innovadoras
                que aportan valor y confianza a nuestros clientes.
                Nuestra empresa “BracarluTech” practica la inclusión de personas 
                con capacidades diferentes, por lo cual, atendemos, aceptamos 
                y laboramos con personas con discapacidad.
                Además, tenemos férreo compromiso con la sostenibilidad 
                y cuidado del medio ambiente</p>
        </div>
        <div class="e">
            <h1>
                Nuestra Mision
            </h1>
            <p>
                Desarrollar soluciones tecnológicas e informáticas
                Nuestra Misión innovadoras y coherentes, que maximicen el valor
                de nuestros clientes.

            </p>
        </div>

        <div class="e">
            <h1>Nuestra Visión</h1>
            <p>
                Ser una empresa líder en innovación tecnológica y desarrollo de soluciones
                Nuestra Visión informáticas, entregando servicios de calidad diferenciados que agreguen
                valor, al convertirnos en aliados estratégicos esenciales para nuestros clientes.
            </p>
        </div>

        <div class="e">
            <h1>Nuestros Valores</h1>
            <p>
                Respeto, inclusión, tolerancia, creatividad, confianza y
                Nuestros Valores compromiso con el trabajo de calidad y con nuestros clientes.
            </p>
        </div>


      </section>
    <br><br><br><br><br>
    <footer class="footer">
        <p>&copy; 2024 Mi Sitio Web. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
